<form action="/addUser" method="post">
  First name:<br>
  <input type="text" name="first" value="Mickey"><br>
  Last name:<br>
  <input type="text" name="last" value="Mouse"><br><br>
  Password:<br>
  <input type="password" name="pass" value="Mouse"><br><br>
  <input type="submit" value="Submit">
</form>