<script type"text/javascript" src="jquery.min.js"></script>
<script type"text/javascript" src="remove.js"></script>
<p>
	<h1>List des utilisateurs</h1>
	<ul>
		<% results.forEach(function(user)
		{ %>
			<li data-id ="<%= user.id %>">
			 <%= user.first %> <%= user.last %> <%= user.pass %> <button type="button" data-action="remove" >Supprimer</button> <button type="button" data-action="update" >Modifier</button> 	
			
			</li>
		<%});%>
	</ul>
</p>

<p> 
<form action="/addUserForm" method="post">
	<input type="submit" value="Ajouter">
</post>
