<% userDefine.forEach(function(user)
		{ %>
<form action="/updateUser/<%= user.id %>" method="post">
  First name:<br>
  <input type="text" name="first" value="<%= user.first %>"><br>
  Last name:<br>
  <input type="text" name="last" value="<%= user.last %>"><br><br>
  Password:<br>
  <input type="password" name="pass" value="<%= user.pass %>"><br><br>
  <input type="submit" value="Submit">
</form>
<%});%>